<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <title></title>
  </head>
<style media="screen">
  body{
    background: yellow;
  }
</style>
  <body>
    <h1 align="center">Company Job Post</h1>

      <img src="{%static "images/hyd2.jpg"%}" alt="">
      <img src="{%static "images/hyd1.jpg"%}" alt="">
      <img src="{%static "images/hyd3.jpg"%}" alt="">

    <div class="container" align="center">
      <table>
      <form class="" action="#" method="post">
      {{form.as_p }} <!-- add 'as_p' pargraph bwtween field to make form field Vertical-->
     {% csrf_token %}<!--django will add one hidden form field csrf with random value fo r security -->
      <input type="submit" name="" class="btn btn-primary" value="Register">
      </form>
    </table>
    </div>

  </body>
</html>
